:root {
  --palette-colors: red-dark #C93C20, red-medium #F25131, red-light #F7A695, orange-dark #EB6600, orange-medium #FF8800, orange-light #FFC889, yellow-dark #EBB000, yellow-medium #FBCC3B, yellow-light #FBE499, green-dark #619900, green-medium #96CD00, green-light #CAE779, turquoise-dark #00A9C3, turquoise-medium #60CBDB, turquoise-light #CCF3f9, blue-dark #0074BB, blue-medium #1A94DA, blue-light #CDE9FA, periwinkle-dark #3654D4, periwinkle-medium #839AFF, periwinkle-light #C4CFFF, purple-dark #6D1DB8, purple-medium #AD5AFA, purple-light #DBB5FF, fuchsia-dark #A31DB8, fuchsia-medium #E55BFA, fuchsia-light #F5B5FF, gray-darker #2D3640, gray-dark #8E9699, gray-medium #BCC2C4, gray-light #D7DEE0, gray #EDEDED, slate #8E9699, infantry-blue #ABBFD8, white #FFFFFF, initiative-budget #2164bd, initiative-schedule #8977b2, lighter-gray #f3f5f6;
  --palette-color-red-dark: #C93C20;
  --palette-color-red-medium: #F25131;
  --palette-color-red-light: #F7A695;
  --palette-color-orange-dark: #EB6600;
  --palette-color-orange-medium: #FF8800;
  --palette-color-orange-light: #FFC889;
  --palette-color-yellow-dark: #EBB000;
  --palette-color-yellow-medium: #FBCC3B;
  --palette-color-yellow-light: #FBE499;
  --palette-color-green-dark: #619900;
  --palette-color-green-medium: #96CD00;
  --palette-color-green-light: #CAE779;
  --palette-color-turquoise-dark: #00A9C3;
  --palette-color-turquoise-medium: #60CBDB;
  --palette-color-turquoise-light: #CCF3f9;
  --palette-color-blue-dark: #0074BB;
  --palette-color-blue-medium: #1A94DA;
  --palette-color-blue-light: #CDE9FA;
  --palette-color-periwinkle-dark: #3654D4;
  --palette-color-periwinkle-medium: #839AFF;
  --palette-color-periwinkle-light: #C4CFFF;
  --palette-color-purple-dark: #6D1DB8;
  --palette-color-purple-medium: #AD5AFA;
  --palette-color-purple-light: #DBB5FF;
  --palette-color-fuchsia-dark: #A31DB8;
  --palette-color-fuchsia-medium: #E55BFA;
  --palette-color-fuchsia-light: #F5B5FF;
  --palette-color-gray-darker: #2D3640;
  --palette-color-gray-dark: #8E9699;
  --palette-color-gray-medium: #BCC2C4;
  --palette-color-gray-light: #D7DEE0;
  --palette-color-gray: #EDEDED;
  --palette-color-slate: #8E9699;
  --palette-color-infantry-blue: #ABBFD8;
  --palette-color-white: #FFFFFF;
  --palette-color-initiative-budget: #2164bd;
  --palette-color-initiative-schedule: #8977b2;
  --palette-color-lighter-gray: #f3f5f6;
}
