// SIMPLIFIED COLOR PALATE
// -- START: COLOR PALATTE

$color-cta-dark: #1A6CDF;
$color-snow: #FAFBFC;
$color-whisper: #F5F7FA;
$color-ash: #EFF3F7;
$color-solitude: #E6ECF2;
$color-geyser: #D8DFE6;
$color-silver: #B9C4D0;
$color-charcoal: #8B98A6;
$color-slate: #616D7A;
$color-dark: #414C57;
$color-black: #2D3640;
$color-true-black: #000000;
$color-shadow: #1E2125;
$color-gold: #FFE593;
$color-casper: #ADB8BC;
$color-gray: #64686E;
$color-mine: #393C40;
$color-cod: #2D3135;
$color-pearl: #1F2427;
$color-aztec: #18191B;
$color-bunker: #0E0F13;
$color-night: #0F171D;
$color-white: #FFFFFF;
// -- END: COLOR PALATTE

// V6 UPDATED COLOR PALATE
// -- START: COLOR PALATTE

$color-gray-025: #fcfcfd;
$color-gray-050: #f9fafb;
$color-gray-100: #f5f7f9;
$color-gray-150: #eef1f6;
$color-gray-200: #e7e9f1;
$color-gray-250: #dde0eb;
$color-gray-300: #d5d9d5;
$color-gray-400: #c8cbd9;
$color-gray-450: #a4a8ba;
$color-gray-500: #818599;
$color-gray-550: #6b6f80;
$color-gray-600: #545766;
$color-gray-700: #494d5c;
$color-gray-750: #3c3f4d;
$color-gray-800: #303440;
$color-gray-900: #242733;
$color-gray-950: #171923;

$color-blue-050: #F2F4FB;
$color-blue-100: #E9ECF9;
$color-blue-200: #D0D9F4;
$color-blue-250: #B5C3EF;
$color-blue-300: #94ABEA;
$color-blue-400: #689BEF;
$color-blue-500: #1A6CDF;
$color-blue-600: #1762CB;
$color-blue-700: #1558B5;
$color-blue-750: #124C9D;
$color-blue-800: #0F3E80;
$color-blue-900: #0A2C5A;
$color-cta: $color-blue-500;

$color-error-050: #FEEEEA;
$color-error-100: #FCDCD6;
$color-error-200: #F7A695;
$color-error-300: #FC8E77;
$color-error-400: #F57459;
$color-error-500: #F25131;
$color-error-600: #C93C20;
$color-error-700: #91311D;
$color-error-800: #6F2516;
$color-error: $color-error-500;

$color-warning-050: #FFFAEB;
$color-warning-100: #FEF5D8;
$color-warning-200: #FBE499;
$color-warning-300: #FDDA73;
$color-warning-400: #FCD662;
$color-warning-500: #FBCC3B;
$color-warning-600: #EBB000;
$color-warning-700: #A67400;
$color-warning-800: #5C3F00;
$color-warning: $color-warning-500;

$color-edit-050: #FFF3E6;
$color-edit-100: #FFE7CC;
$color-edit-200: #FFC889;
$color-edit-300: #FFB866;
$color-edit-400: #FFA64D;
$color-edit-500: #FE8503;
$color-edit-600: #f57a00;
$color-edit-700: #995200;
$color-edit-800: #663600;
$color-edit: $color-edit-500;

$color-ai-orchid-025: #fbfaff;
$color-ai-orchid-050: #eeebff;
$color-ai-orchid-100: #d8cdfe;
$color-ai-orchid-200: #c4a8f5;
$color-ai-orchid-300: #9e9ba4;
$color-ai-orchid-400: #8f57eb;
$color-ai-orchid-500: #7e25e5;
$color-ai-orchid-600: #5f24b2;
$color-ai-orchid-700: #522197;
$color-ai-orchid-750: #421b79;
$color-ai-orchid-800: #341759;
$color-ai-orchid-900: #2b1547;
$color-ai-orchid-950: #2b1547;

// -- END: COLOR PALATTE

// INPUTS
// -- standard input
$color-input-background: $color-white;
$color-input-border: $color-gray-200;
$color-input-shadow: rgba(#D2D8DD, .6);
$color-input-text: $color-gray-900;
$color-input-placeholder-text: $color-gray-300;
$color-input-filled-background: $color-input-background;
$color-input-filled-border: $color-input-border;
$color-input-filled-shadow: $color-input-shadow;
$color-input-hovered-background: $color-input-background;
$color-input-hovered-border: $color-gray-400;
$color-input-hovered-shadow: $color-input-shadow;
$color-input-hovered-text: $color-black;
$color-input-focused-background: $color-input-background;
$color-input-focused-border: $color-cta;
$color-input-focused-shadow-outset: rgba(#2FB1ED,0.20);
$color-input-focused-shadow-inset: $color-input-shadow;
$color-input-focused-text: $color-gray-750;
$color-input-errored-background: $color-input-background;
$color-input-errored-border: $color-error;
$color-input-errored-shadow: $color-input-shadow;
$color-input-errored-text: $color-error;
$color-input-errored-button-box-background: $color-input-errored-background;
$color-input-errored-button-box-border: #CD1A1A;
$color-input-errored-button-box-text: $color-white;
$color-input-disabled-background: $color-snow;
$color-input-disabled-border: $color-input-filled-border;
$color-input-disabled-shadow: $color-input-shadow;
$color-input-disabled-text: $color-input-placeholder-text;

// SELECTS
// -- standard select
$color-select-background-stop1: $color-white;
$color-select-background-stop2: #FCFEFF;
$color-select-border: $color-input-border;
$color-select-outset-shadow: rgba(#F2F5F7,0.80);
$color-select-inset-shadow: $color-whisper;
$color-select-text: $color-dark;
$color-select-triangle: $color-slate;
$color-select-hovered-background-stop1: $color-select-background-stop1;
$color-select-hovered-background-stop2: $color-select-background-stop2;
$color-select-hovered-border: $color-input-hovered-border;
$color-select-hovered-shadow: $color-select-outset-shadow;
$color-select-hovered-text: $color-select-text;
$color-select-hovered-triangle: $color-select-triangle;
$color-select-focused-background: $color-select-background-stop1;
$color-select-focused-border: $color-cta-dark;
$color-select-focused-outset-shadow: $color-input-focused-shadow-outset;
$color-select-focused-inset-shadow: $color-input-shadow;
$color-select-focused-text: $color-select-text;
$color-select-errored-background-stop1: $color-select-background-stop1;
$color-select-errored-background-stop2: $color-select-background-stop2;
$color-select-errored-border: $color-input-errored-border;
$color-select-errored-text: $color-input-errored-text;
$color-select-button-box-errored-background: $color-input-errored-button-box-background;
$color-select-button-box-errored-border: $color-input-errored-button-box-border;
$color-select-button-box-errored-text: $color-input-errored-button-box-text;
$color-select-disabled-background: $color-select-background-stop1;
$color-select-disabled-border: $color-input-disabled-border;
$color-select-disabled-shadow: $color-input-shadow;
$color-select-disabled-text: $color-black;
$color-select-disabled-triangle: $color-select-triangle;

// BADGES
$color-badge-background: $color-whisper;
$color-badge-background-stop1: $color-ash;
$color-badge-background-stop2: $color-whisper;
$color-badge-background: $color-whisper;
$color-badge-border: $color-geyser;
$color-badge-shadow: rgba($color-whisper,0.50);
$color-badge-text: $color-charcoal;
$color-badge-remove-button-background: $color-white;
$color-badge-remove-button-border: $color-geyser;
$color-badge-remove-button-text: $color-slate;
$color-badge-selected-background: #E6F3FA;
$color-badge-selected-border: $color-cta;
$color-badge-selected-shadow: $color-badge-shadow;
$color-badge-selected-text: $color-black;
$color-badge-disabled-background: $color-whisper;
$color-badge-disabled-background: rgba($color-badge-background, .5);
$color-badge-disabled-border: rgba($color-badge-border, .5);
$color-badge-disabled-shadow: rgba($color-badge-shadow, .5);
$color-badge-disabled-text: rgba($color-badge-text, .5);

// Palette colors. This is a defined list of colors that are generally selectable by
// a user. These colors are used to style charts, gauges, rich text, etc.
$palette-red-dark:                 #C93C20;
$palette-red-medium:               #F25131;
$palette-red-light:                #F7A695;

$palette-orange-dark:              #EB6600;
$palette-orange-medium:            #FF8800;
$palette-orange-light:             #FFC889;

$palette-yellow-dark:              #EBB000;
$palette-yellow-medium:            #FBCC3B;
$palette-yellow-light:             #FBE499;

$palette-green-dark:               #619900;
$palette-green-medium:             #96CD00;
$palette-green-light:              #CAE779;

$palette-turquoise-dark:           #00A9C3;
$palette-turquoise-medium:         #60CBDB;
$palette-turquoise-light:          #CCF3f9;

$palette-blue-dark:                #0074BB;
$palette-blue-medium:              #1A94DA;
$palette-blue-light:               #CDE9FA;

$palette-periwinkle-dark:          #3654D4;
$palette-periwinkle-medium:        #839AFF;
$palette-periwinkle-light:         #C4CFFF;

$palette-purple-dark:              #6D1DB8;
$palette-purple-medium:            #AD5AFA;
$palette-purple-light:             #DBB5FF;

$palette-fuchsia-dark:             #A31DB8;
$palette-fuchsia-medium:           #E55BFA;
$palette-fuchsia-light:            #F5B5FF;

$palette-gray-darker:              $color-black;
$palette-gray-dark:                #8E9699;
$palette-gray-medium:              #BCC2C4;
$palette-gray-light:               #D7DEE0;

$palette-gray:                     #EDEDED;
$palette-slate:                    #8E9699;
$palette-infantry-blue:            #ABBFD8;
$palette-white:                    $color-white;

$palette-initiative-budget:        #2164bd;
$palette-initiative-schedule:      #8977b2;
$palette-lighter-gray:             #f3f5f6;

$palette-colors:
  red-dark $palette-red-dark,
  red-medium $palette-red-medium,
  red-light $palette-red-light,

  orange-dark $palette-orange-dark,
  orange-medium $palette-orange-medium,
  orange-light $palette-orange-light,

  yellow-dark $palette-yellow-dark,
  yellow-medium $palette-yellow-medium,
  yellow-light $palette-yellow-light,

  green-dark $palette-green-dark,
  green-medium $palette-green-medium,
  green-light $palette-green-light,

  turquoise-dark $palette-turquoise-dark,
  turquoise-medium $palette-turquoise-medium,
  turquoise-light $palette-turquoise-light,

  blue-dark $palette-blue-dark,
  blue-medium $palette-blue-medium,
  blue-light $palette-blue-light,

  periwinkle-dark $palette-periwinkle-dark,
  periwinkle-medium $palette-periwinkle-medium,
  periwinkle-light $palette-periwinkle-light,

  purple-dark $palette-purple-dark,
  purple-medium $palette-purple-medium,
  purple-light $palette-purple-light,

  fuchsia-dark $palette-fuchsia-dark,
  fuchsia-medium $palette-fuchsia-medium,
  fuchsia-light $palette-fuchsia-light,

  gray-darker $palette-gray-darker,
  gray-dark $palette-gray-dark,
  gray-medium $palette-gray-medium,
  gray-light $palette-gray-light,

  gray $palette-gray,
  slate $palette-slate,
  infantry-blue $palette-infantry-blue,
  white $palette-white,

  initiative-budget $palette-initiative-budget,
  initiative-schedule $palette-initiative-schedule,
  lighter-gray $palette-lighter-gray;

// Widget colors (includes charts)
$color-chart-axis-label:            $color-dark;
$color-widget-primary-label:        $color-black; //used to grab attention. The main value
$color-widget-secondary-label:      $color-dark; //less important information
$color-widget-background:           $color-white;

$color-widget-primary-label-light: rgba(255, 255, 255, .85);

// This adjusts the whiteness and saturation of a scoring color to be used for gradients. After quite
// a bit of trial and error, I found that mixing white for brightness and and black darkness works better
// than calling scale-color on lightness. That's because some of the color like green became blown out
// when getting lighter, and mixing black gives a smooth smokey color for darkness. We can't increase saturation
// because that unintentionally colors grays.
@function adjustLightness($color, $whitenessAdjustment) {
  @if $whitenessAdjustment > 0 {
    @return mix(white, $color, $whitenessAdjustment);
  } @else {
    @return mix(black, $color, -1 * $whitenessAdjustment);
  }
}

// Tooltip
$tooltip-header-bg: $color-gray-050;
$tooltip-bg: $color-white;
$tooltip-border: $color-gray-250;
$tooltip-shadow: rgba($color-shadow, .20);
$tooltip-header-border: $color-gray-050;
$tooltip-carrot-shadow: rgba($color-true-black, .11);
$tooltip-carrot-bg: $tooltip-bg;
$tooltip-error-border: $color-error;
$tooltip-breadcrumb: $color-charcoal;
$tooltip-sub-header: rgba($color-slate, .9);
$tooltip-sub-content: rgba($color-dark, .4);

// Trees
$color-tree-background: $color-gray-050;
$color-tree-node-text-color: $color-casper;
$color-tree-node-text-shadow: rgba($color-true-black, 0.23);
$color-tree-node-drag-handle-fill: #555A5E;
$color-tree-node-selected-background: $color-cod;
$color-tree-node-selected-text-color: $color-ash;
$color-tree-node-transient-border: $color-slate;
$color-tree-traveling-node-background: #25282D;
$color-tree-traveling-node-shadow: rgba($color-tree-traveling-node-background,0.50);
$color-tree-editable-highlight: $color-edit-400;

// Deprecated!
@mixin labelOnColoredBackground() {
  // Some DOM node types use fill, some use color
  fill: $color-widget-primary-label;
  color: $color-widget-primary-label;

  text-shadow: 0 1px 1px rgba($color-white, 0.5);
  // #22140 need the mouse to ignore the <text> elements so that the
  // <title> on the svg path is used for hover text
  pointer-events: none;
}

// Mixins to help iterate over the two color arrays
@mixin standard-fill($color-list)  {
  @each $color in $color-list {
    &.#{"" + nth($color, 1)} { // Concat a string to squash sass warnings
      fill: nth($color, 2);
    }
  }
}
@mixin standard-stroke($color-list)  {
  @each $color in $color-list {
    &.#{"" + nth($color, 1)} { // Concat a string to squash sass warnings
      stroke: nth($color, 2);
    }
  }
}

@mixin lighter-fill-darker-stroke($color-list)  {
  @each $color in $color-list {
    &.#{"" + nth($color, 1)} { // Concat a string to squash sass warnings
      stroke: mix($color-true-black, nth($color, 2), 12%);
      fill: mix($color-white, nth($color, 2), 30%);
    }
  }
}

// Expose the all the palette colors as css3 variables. Used by JS components
:root {
  --palette-colors: #{$palette-colors};
  @each $color in $palette-colors {
    --palette-color-#{"" + nth($color, 1)}: #{"" + nth($color, 2)};
  }
}

.label-on-colored-background {
  // #22140 need the mouse to ignore the <text> elements so that the
  // <title> on the svg path is used for hover text
  pointer-events: none;

  // Some DOM node types use fill (svg), some use color, that's why both variations
  // set `fill` and `color`

  // Dark text on a colored background
  &.dark {
    fill: $color-widget-primary-label;
    color: $color-widget-primary-label;

    text-shadow: 0 1px 1px rgba($color-white, 0.5);
  }

  // Light text on a colored background
  &.light {
    fill: $color-widget-primary-label-light;
    color: $color-widget-primary-label-light;

    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  }
}
